﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Macedonian Tms";src:url("M-TMSN.eot?") format("eot"),url("M-TMSN.woff") format("woff"),url("M-TMSN.ttf") format("truetype"),url("M-TMSN.svg#MacedonianTms") format("svg");font-weight:normal;font-style:normal;}
