body {
  /* font-family: 'Mac C Times',  Arial, sans-serif; */
}

.blueimp-gallery > .prev,
.blueimp-gallery > .next {
  border: none !important;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  background: rgba(0, 0, 0, 0.01);
}
