﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Macedonian Helv";src:url("M-HELVN.eot?") format("eot"),url("M-HELVN.woff") format("woff"),url("M-HELVN.ttf") format("truetype"),url("M-HELVN.svg#MacedonianHelv") format("svg");font-weight:normal;font-style:normal;}
