// Import agency for Sass
@import "agency-sass-mac/agency";

#login_form {
	input[type="text"] {
		font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	}
	input[type="password"] {
		font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	}
}

#forgot_password_form {
	input[type="email"] {
		font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	}
}

header {
	.intro-text {
		padding-top: 70px;
		padding-bottom: 80px;
		padding-left: 100px;
	}
}


@media(min-width:768px) {
	header {
		.intro-text {
			padding-top: 250px;
			padding-bottom: 250px;
			padding-left: 100px;
		}
	}
}

#services{ 	
	.service-port {
		text-align: center;
		margin-bottom: 50px;
		img {
			margin: 0 auto;
			border: 7px solid lighten($brand-primary, 10%);
			&:hover,
			&:focus,
			&:active,
			&.active {
				border: 8px solid darken($brand-primary, 1%);
			}
		}
		h4 {
			margin-top: 25px;
			margin-bottom: 0;
			text-transform: none;
		}
		p {
			margin-top: 0;
		}
		.btn {
			background-color: $brand-primary;
			color: $gray;
			&:hover,
			&:focus,
			&:active,
			&.active {
				background-color: darken($brand-primary, 10%);
				color: darken($gray, 30%);
			}
		}

	}
}

#about {
	.team-member{
		img {
			border: 7px solid lighten($brand-primary, 10%);
		}
	}
}

// Training Section
#training {
    .training-item {
        margin: 0 0 15px;
        right: 0;
        .training-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .training-hover {
                background: fade($brand-primary, 90%);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .training-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }                
            }            
        }
        .training-caption {
        	max-width: 400px;
        	margin: 0 auto;
        	background-color: white;
        	text-align: center;
        	padding: 25px;
        	h4 {
        		text-transform: none;
        		margin: 0;
        	}
        	p {
        		@include serif-font;
        		font-style: italic;
        		font-size: 16px;
        		margin: 0;
        	}
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #training {
        .training-item {
            margin: 0 0 30px;
        }
    }
}

.training-modal {
	.modal-content {
	    border-radius: 0;
	    background-clip: border-box;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    border: none;
	    min-height: 100%;
	    padding: 100px 0;
	    text-align: center;
		h2 {
	    	margin-bottom: 15px;
	    	font-size: 3em;
		}
		p {
			margin-bottom: 30px;
		}
		p.item-intro {
			margin: 20px 0 30px;
			@include serif-font;
			font-style: italic;
			font-size: 16px;
		}
		ul.list-inline {
			margin-bottom: 30px;
			margin-top: 0;
		}
		img {
			margin-bottom: 30px;
		}
	}
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color:$gray-darkest;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color:$gray-darkest;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }            
        }        
    }
    .modal-backdrop {
    	opacity: 0;
    	display: none;
    }
}
