$light-gray: lighten(gray, 30%);
$dark-gray: darken(gray, 30%);
$brand-primary: #fed136;


.modal-vertical-centered {
  transform: translate(0, 40%) !important;
  -ms-transform: translate(0, 40%) !important; /* IE 9 */
  -webkit-transform: translate(0, 40%) !important; /* Safari and Chrome */
}

section#portfolio {
	div.container {
		div.row {
			div.portfolio-item {
				a.portfolio-link {
					img {
						width: 400px; 
						height: 290px;
					}
				}
			}
		}
	}
}
section#training {
	div.container {
		div.row {
			div.training-item {
				a.training-link {
					img {
						width: 400px; 
						height: 290px;
					}
				}
			}
		}
	}
}

body {
	background-color: lighten($light-gray, 15%);
}


/* TOP-LINK-BUTTON - angle-up */
#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right: 10px; /* padding from the right side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    right: 10px; /* padding from the right side of the window */
}
span#top-link-block {
	background-color: $dark-gray;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	color: white;
	outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10000;/* najvisok indeks, nad site drugi elementi */
	&:hover,
    &:focus,
    &:active {
		background-color: $brand-primary;
		i {
			color: white;
			font-size: 220%;
		}
    }

	text-align: center;

	i {
		margin-top: 15%;
		margin-bottom: 45%;
		display: inline-block;
		vertical-align: middle;
		font-size: 200%;
		line-height: 50%;
	}
}/* END TOP-LINK-BUTTON - angle-up */
/* TOP-LINK-BUTTON on Small devices */
@media (max-width:767px) {
	#top-link-block{
		right: 15px;
	}
}

/* HEADER INTRO TEXT - shadow */
header div.intro-lead-in>div {
	text-shadow: 1px 1px #777;
}


// Global Section Styles
section {
    h3.section-subheading {
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 75px;
    }
}
/* services healtyyoga and softskillstraining - padding*/
body.services-body section {
	padding: 60px 0;

	h2.section-heading {
		padding-top: 30px;
	}

	&.healtyyoga,
	&.softskillstraining {
		h2.section-heading {
			padding-top: 90px;
		}
	}
}

/* TO DO: Za ova ne sum siguren, privremeno duri proveruvam edna header bela slika */
/* 
nav.navbar div.container div.navbar-collapse ul.nav li a{
  color: black;
}
header div.intro-lead-in>div {
  color: #444;
  text-shadow: 1px 1px #999;
}
nav.navbar div.container div.navbar-header a.navbar-brand{
  text-shadow: 2px 2px #444;
}
*/

/* Training Caption */
.training-caption {
	h4 {
		font-size: 18px;
	}
	height: 100px;
	min-height: 100px;
}
/* Training Modal */
.training-modal {
	.modal-content {

		background-color: lighten($light-gray, 18%);

		h2 {
	    	margin-bottom: 10px;
	    	font-size: 2em;
		}
		p {
			margin-bottom: 15px;
		}

		p.item-intro {
			background-color: lighten($light-gray, 12%);
			font-size: 18px;
			border-radius: 10px;
		}

		.content {
			text-align: left;
			img {
				margin: 0 5px 0 0;
				padding-right: 10px;
				border-radius: 3px;
				border-top-left-radius: 25px;
			}
		}
		.close-button {
			margin-top: 10px;
		}
		
	}
	z-index: 10001;
}

/* Small devices */
@media (max-width:767px) {

	.training-caption {
		h4 {
			font-size: 15px;
		}
	}

	.training-modal {
		.modal-content {
	    	h2 {
		    	margin-bottom: 12px;
		    	font-size: 1.8em;
			}
			p {
				margin-bottom: 15px;
			}
			p.item-intro {
				font-size: 17px;
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width:767px) {

	.training-caption {
		h4 {
			font-size: 15px;
		}
	}

    .training-modal {
		.modal-content {
	    	h2 {
		    	margin-bottom: 12px;
		    	font-size: 2.2em;
			}
			p {
				margin-bottom: 15px;
			}
			p.item-intro {
				font-size: 18px;
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:991px) {

	.training-caption {
		h4 {
			font-size: 17px;
		}
	}

    .training-modal {
		.modal-content {
	    	h2 {
		    	margin-bottom: 14px;
		    	font-size: 2.6em;
			}
			p {
				margin-bottom: 22px;
			}
			p.item-intro {
				font-size: 20px;
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1199px) {

	.training-caption {
		h4 {
			font-size: 19px;
		}
	}

    .training-modal {
		.modal-content {
	    	h2 {
		    	margin-bottom: 15px;
		    	font-size: 3em;
			}
			p {
				margin-bottom: 30px;
			}
			p.item-intro {
				font-size: 22px;
			}
		}
	}
}

/* CONTACT */
form#contactForm {
	#captchaImg {
		max-width: 210px;
  		padding: 5px;
	}
}
