﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Macedonian Ancient";src:url("M-ANCIN.eot?") format("eot"),url("M-ANCIN.woff") format("woff"),url("M-ANCIN.ttf") format("truetype"),url("M-ANCIN.svg#MacedonianAncient") format("svg");font-weight:normal;font-style:normal;}
