﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Macedonian Artistic";src:url("m-artin.eot?") format("eot"),url("m-artin.woff") format("woff"),url("m-artin.ttf") format("truetype"),url("m-artin.svg#MacedonianArtistic") format("svg");font-weight:normal;font-style:normal;}
