﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"MAC C Swiss";src:url("mcswis.eot?") format("eot"),url("mcswis.woff") format("woff"),url("mcswis.ttf") format("truetype"),url("mcswis.svg#MACCSwiss") format("svg");font-weight:normal;font-style:normal;}
