@font-face {
	font-family: "MAC C Times";
	src: url($fonts-path + '/MAC_C_Times/MCTIME.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "MAC C Swiss";
	src: url($fonts-path + '/MAC_C_Swiss/mcswis.eot') format('embedded-opentype'),
		 url($fonts-path + '/MAC_C_Swiss/mcswis.ttf') format('truetype');
}
@font-face {
	font-family: "Macedonian";
	src: url($fonts-path + '/Macedonian/MACED.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Ancient";
	src: url($fonts-path + '/Macedonian_Ancient/M-ANCIN.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Artistic";
	src: url($fonts-path + '/Macedonian_Artistic/m-artin.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Astra";
	src: url($fonts-path + '/Macedonian_Astra/m-astrn.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Bahamas";
	src: url($fonts-path + '/Macedonian_Bahamas/m-bahan.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Handwriting";
	src: url($fonts-path + '/Macedonian_Handwriting/M-HANDI.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Helv";
	src: url($fonts-path + '/Macedonian_Helv/M-HELVN.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Tms";
	src: url($fonts-path + '/Macedonian_Tms/M-TMSN.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "M Murmansk";
	src: url($fonts-path + '/mk/M_Murmansk.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Broadway";
	src: url($fonts-path + '/mk/Macedonian_Broadway.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Casual";
	src: url($fonts-path + '/mk/MACEDONIANCASUAL.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Chancellor";
	src: url($fonts-path + '/mk/Macedonian_Chancellor.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Classic";
	src: url($fonts-path + '/mk/Macedonian_Classic.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Elegant";
	src: url($fonts-path + '/mk/Macedonian_Elegant.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Europe";
	src: url($fonts-path + '/mk/Macedonian_Europe.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Futuris";
	src: url($fonts-path + '/mk/Macedonian_Futuris.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Humanist";
	src: url($fonts-path + '/mk/Macedonian_Humanist.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Revue";
	src: url($fonts-path + '/mk/Macedonian_Revue.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Typewriter";
	src: url($fonts-path + '/mk/Macedonian_Typewriter.ttf') format('embedded-opentype');
}
@font-face {
	font-family: "Macedonian Unicorn";
	src: url($fonts-path + '/mk/Macedonian_Unicorn.ttf') format('truetype');
}
@font-face {
	font-family: "Macedonian MCooper";
	src: url($fonts-path + '/mk/MCooper.ttf') format('truetype');
}
@font-face {
	font-family: "MOTORPSMT";
	src: url($fonts-path + '/mk/MOTORPSMT.ttf') format('truetype');
}
@font-face {
	font-family: "Copper Plate Gothic BT Roman";
	src: url($fonts-path + '/mk/COPPERPLATEGOTHICBT-ROMAN.ttf') format('truetype');
}
@font-face {
	font-family: "M Glasnost Bold";
	src: url($fonts-path + '/mk/M_Glasnost_Bold.ttf') format('truetype');
}
@font-face {
	font-family: "Macedonian Eco Condensed 70";
	src: url($fonts-path + '/mk/Macedonian_Eco_Condensed_70.ttf') format('truetype');
}