// Bootstrap Button Variant Mixins

@mixin button-variant($color, $background, $border) {
	color: $color;
	background-color: $background;
	border-color: $border;

	&:hover,
	&:focus,
	&:active,
	&.active,
	.open .dropdown-toggle & {
		color: $color;
		background-color: darken($background, 10%);
        border-color: darken($border, 12%);
	}
	&:active,
	&.active,
	.open .dropdown-toggle & {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&:active,
		&.active {
			background-color: $background;
			border-color: $border;
		}
	}

	.badge {
		color: $background;
		background-color: $color;
	}
}

// Background Features

@mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

// Font Selections

@mixin serif-font() {
	font-family: "MAC C Swiss", "Droid Serif", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

@mixin script-font() {
	font-family: "MAC C Swiss", "Kaushan Script", "Helvetica Neue", "Helvetica", "Arial", "cursive";
}

@mixin body-font() {
	font-family: "MAC C Swiss", "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

@mixin heading-font() {
	font-family: "MAC C Swiss", "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	text-transform: uppercase;
}
