﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Macedonian Handwriting";src:url("M-HANDI.eot?") format("eot"),url("M-HANDI.woff") format("woff"),url("M-HANDI.ttf") format("truetype"),url("M-HANDI.svg#MacedonianHandwriting") format("svg");font-weight:normal;font-style:normal;}
