﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Macedonian Ariston";src:url("m-arisn.eot?") format("eot"),url("m-arisn.woff") format("woff"),url("m-arisn.ttf") format("truetype"),url("m-arisn.svg#MacedonianAriston") format("svg");font-weight:normal;font-style:normal;}
