﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Macedonian";src:url("MACED.eot?") format("eot"),url("MACED.woff") format("woff"),url("MACED.ttf") format("truetype"),url("MACED.svg#Macedonian") format("svg");font-weight:normal;font-style:normal;}
