
body {
	background-color: rgba(127,127,127, 0.901);
}

div.ui-datepicker {
	font-size:11px;

/* 	height: 200px ;
    padding: 0.2em 0.2em 0;
    width: 150px; */
}

.MonthDatePicker .ui-datepicker-year
{
    /* display:none;   */ 
}
.HideTodayButton .ui-datepicker-buttonpane .ui-datepicker-current
{
    visibility:hidden;
}

.hide-calendar .ui-datepicker-calendar
{
	display:none!important;
	visibility:hidden!important
}

