﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Macedonian Astra";src:url("m-astrn.eot?") format("eot"),url("m-astrn.woff") format("woff"),url("m-astrn.ttf") format("truetype"),url("m-astrn.svg#MacedonianAstra") format("svg");font-weight:normal;font-style:normal;}
