﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Macedonian Bahamas";src:url("m-bahan.eot?") format("eot"),url("m-bahan.woff") format("woff"),url("m-bahan.ttf") format("truetype"),url("m-bahan.svg#MacedonianBahamas") format("svg");font-weight:normal;font-style:normal;}
