﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Macedonian Church";src:url("m-churn.eot?") format("eot"),url("m-churn.woff") format("woff"),url("m-churn.ttf") format("truetype"),url("m-churn.svg#MacedonianChurch") format("svg");font-weight:normal;font-style:normal;}
