﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"MAC C Times";src:url("MCTIME.eot?") format("eot"),url("MCTIME.woff") format("woff"),url("MCTIME.ttf") format("truetype"),url("MCTIME.svg#MACCTimes") format("svg");font-weight:normal;font-style:normal;}
